# Node.js
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# .NET (C#)
**/bin/
**/obj/
*.suo
*.userosscache
*.sln.docstates

# Build output
dist/
build/
out/
coverage/

# Environment files
.env
.env.*

# VS Code settings
.vscode/

# Visual Studio settings
.vs/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.tgz
*.zip
*.tmp